

  <div class="footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-6  col-xs-6 center-block" style="font-style: italic; padding-top: 10px;">
                  <div class="row">
                      <a class="logo-font" ui-sref="app.home" ng-bind="::$ctrl.appName"></a>
                      <span> is an American company</span>
                  </div>
                  <div style="font-size:9.5px; padding-left:40px;" class="row center-block">
                      &copy; {{::$ctrl.date | date:'yyyy'}}.
                  </div>
              </div>
              <div class="col-sm-2  col-xs-4 " style="font-size: 9.5px;">
                  <h7>Contact Us</h7>
                  <ul class="list-unstyled">
                      <li><i class="glyphicon glyphicon-globe"></i> Fairfax, VA</li>
                      <li><i class="glyphicon glyphicon-phone"></i> 555.555.5555</li>
                      <li><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:info@volotopia.com">info@volotopia.com</a></li>
                  </ul>
              </div>
          </div>
      </div>
</div>
